.carto-maintenance-wgt-setting{
  display: flex;
  flex-direction: column;
}
.carto-maintenance-wgt-setting input {
  height: 25px;
  border: 1px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #838383;
}
