/* @import url('fontawesome-free-5.3.1-web/css/all.css'); */

/* :root {
  #0090F8: #0090F8;
  #D2D2D2: #D2D2D2;
  #66BB6A: #66BB6A;
  #F89500: #F89500;
  #E9F6FF: #E9F6FF;
  #E96479: #E96479;
  #ECECEC: #ECECEC;
} */

/* .jimu-ldockable-panel {
  width: 430px !important;
} */

.carto-maintenance-wgt h3 {
  font-size: 1.2em;
}

.carto-maintenance-wgt h3,
p {
  margin-top: 0;
}

.carto-maintenance-wgt {
  height: 100%;
  width: 100%;
  font-size: .875rem;
  font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color emoji;
  color: #1e293b;
}

.jimu-widget-frame.jimu-container {
  padding: 0% !important;
}

.jimu-on-screen-widget-panel>.jimu-panel-title {
  background-color: #0090F8 !important;
}

.mainCtnCm {
  width: 100%;
  height: 100%;
}

/* ::::::::::::::::::::::::: */
/* Styles Ctn requests */
/* ::::::::::::::::::::::::: */

.requestTrayCtnCm {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px 12px 12px 12px;
  display: none;
}

#searchCtnCm {
  width: 100%;
}

.searchTbxClsCm {
  padding: 0;
  width: 100%;
  border: 1px solid #D2D2D2;
  padding: 5px;
  border-radius: 5px;
  outline: none;
}

.searchCtnClsCm .fa-search {
  position: absolute;
  top: 23px;
  right: 20px;
}

/* .searchCtnClsCm .fa-search {left: 230px;} */


#tabFilterCtnCm {
  border-bottom: 1px solid #0090F8;
  /* margin-top: 20px; */
}

.tabFilterCtnClsCm button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 20px 10px 10px 10px;
  /* transition: 0.3s; */
  /* font-size: 15px; */
}

.tabFilterCtnClsCm button:hover {
  /*background-color: #ddd;*/
  border-bottom: 2px solid #0090F8;
}

.tabFilterCtnClsCm button.active {
  border-bottom: 2px solid #0090F8;
  font-weight: bold;
  color: #0090F8;
}

#reportCtnCm {
  margin-top: 20px;
  text-align: right;
}

#btnReportCm {
  border-radius: 5px;
  background-color: #66BB6A;
  border: none;
  width: 120px;
  height: 30px;
  color: white;
  cursor: pointer;
}

/* Table Tray */
#tableRequestCtnCm {
  height: 100%;
  margin-top: 10px;
  overflow: auto;
}

#tableRequestCm {
  border-collapse: collapse;
  width: 100%;
}

#tableRequestCm td,
#tableRequestCm th {
  border-bottom: 1px solid #ddd;
  padding: 5px;
}

#tableRequestCm td:nth-child(3) {
  width: 200px;
  /* Ajusta el ancho según tus necesidades */
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

#tableRequestCm tr:hover {
  background-color: #D2D2D2;
}

#tableRequestCm th {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  background-color: #0090F8;
  color: white;
  position: sticky;
  top: 0;
}

.stateRequestClsCm {
  width: 30px;
  height: 20px;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 10px;
}

.stateRequestClsCm :hover {
  cursor: pointer;
}

#editRequestsCm {
  background-color: #E96479;
}

#obsRequestsCm {
  background-color: #F89500;
}

#goodRequestsCm {
  background-color: #66BB6A;
}

.tableRequestCm.scroll tbody {
  height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
}


/* #reasignarCm{ */
/* height: 100%; */
/* display: flex; */
/* flex-direction: column; */
/* } */

.ctnSendDataClsCm {
  display: flex;
  height: 100%;
}

/* .ctnSendDataClsCm:hover{
  cursor: pointer;
} */

/* ::::::::::::::::::::::::: */
/*   Styles Ctn cases  */
/* ::::::::::::::::::::::::: */

.casesCtnClsCm {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  /* display: none; */
}


.backCtn,
.backObsClsCtn {
  width: 100%;
  height: 30px;
  background-color: #E9F6FF;
  position: sticky;
  top: 0;
}

.backTrayClsCm,
.backRequestsClsCm {
  background-color: inherit;
  border: none;
  color: #0090F8;
  height: 30px;
}

.backTrayClsCm:hover {
  cursor: pointer;
}

.backRequestsClsCm:hover {
  cursor: pointer;
}

.CtnFormCasesClsCm {
  height: 100%;
  padding: 14px;
  display: flex;
  flex-direction: column;
}

.CtnHeadClsCm {
  height: 30px;
  display: flex;
  flex-direction: row;
}

.itemHeaderClsCm {
  width: 50%;
}


#CtnObsCaseCm {
  text-align: right;
}

.titleFormCm {
  display: flex;
}

.titleFormCm span {
  /* align-self: center; */
  font-weight: bold;
  font-size: 18px;
}

.titleFormCm:hover {
  cursor: pointer;
  color: #0090F8
}


#btnObsCaseCm {
  background-color: #66BB6A;
  color: white;
  border: none;
  width: 80px;
  height: 30px;
  border-radius: 5px;
}

#btnObsCaseCm:hover {
  cursor: pointer;
}


.CtnPredInfoClsCm {
  /* flex: 1 1 50%;
  overflow: auto; */
  /* height: 100%; */
  margin-top: 10px;

}

.caseInfoClsCm {
  margin-top: 5px;
  box-shadow: 0px 0px 10px #C3C3C3;
}


.headPredInfoClsCm {
  display: flex;
  flex-direction: row;
  height: 30px;
  border-radius: 5px 5px 0px 0px;
  cursor: pointer;
  width: 100%;
  color: white;
  padding: 7px;
}

.headPredInfoOriginalClsCm,
.headObsevationClsCm {
  background-color: #0090F8;
}


.headPredInfoResultClsCm {
  background-color: #c14242;
}

/* .headPredInfoResultClsCm span {
  font-weight: bold;
  font-size: 14px;
} */

.headPredInfoClsCm span {
  /* align-self: center; */
  font-weight: bold;
  font-size: 14px;
  width: 100%;
}

.toolsPredInfoClsCm {
  height: 100%;
  border: none;
  background-color: inherit;
  width: 25px;
  padding: 0;
  color: white;
  text-align: right;
}

.toolsPredInfoClsCm:hover {
  cursor: pointer;
}

.zoomPredInfoClsCm {
  display: none;
}

.zoomPredInfoClsCm.active {
  display: block;
}



/*  */
.coordsCtnClsCm {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-self: center; */
}

.coordClsCm {
  width: 49%;
  display: flex;
  flex-direction: column;
  /* align-self: center; */
}

/* style for label into class bodyPredInfoClsCm */
.bodyPredInfoClsCm label {
  margin-bottom: 5px;
}

.bodyPredInfoClsCm.active {
  display: flex;
}

.bodyPredInfoClsCm input {
  padding: 0;
  width: 100%;
  border: 1px solid #D2D2D2;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  background: #ECECEC;
  margin-bottom: 10px;
}

/* .toggleClsCm{
  width: 50%;
  text-align: right;
  display: flex;
} */

.iconToggleClsCm {
  width: 100%;
  /* align-self: center; */
  color: white;
  font-size: 14px;
  padding: 10px;
}

.bodyPredInfoClsCm {
  display: none;
  /* display: flex; */
  flex-direction: column;
  border: 1px solid #e5e3e3;
  border-top: none;
  border-radius: 0px 0px 5px 5px;
  background: #F8F8F8;
  padding: 10px;
}

.otherInfoCaseClsCm {
  margin-top: 10px;
  margin-bottom: 10px;
  /* display: none; */
}

/* .otherInfoCaseClsCm.active{
  display: block;
} */


.otherDocItemClsCm {
  display: flex;
  flex-direction: row;
}

.CtnShowClsCm {
  text-align: right;
  width: 20%;
}

.showOtherDocClsCm {
  background-color: inherit;
  /* border: none; */
  border: solid 1px #ccc;
  border-radius: 3px;
  color: #0090F8;
  height: 30px;
  width: 30px;
}

.showOtherDocClsCm:hover {
  cursor: pointer;
}

.CtnTitleOtherDocClsCm {
  display: flex;
  width: 80%;
}

/* .CtnTitleOtherDocClsCm:hover{
  cursor: pointer;
} */

.alignVCenter {
  align-self: center;
}

.ctnParamsCm {
  display: flex;
  flex-direction: row;
}

.lblParamCm {
  width: 80%;
  display: flex;
  padding-left: 10px;
  /* text-indent: 10px; */
}

.ctnResults {
  width: 100%;
}

.ctnGraphLandsResultsClsCm {
  width: 100%;
}

.ctnBtnParamCm {
  width: 20%;
  text-align: right;
}

.btnParamsClsCm {
  border: solid 1px #ccc;
  border-radius: 3px;
  /* border: none; */
  background-color: inherit;
  width: 30px;
  height: 30px;
}

.btnParamsClsCm:hover {
  cursor: pointer
}

.btnSendClsCm {
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #66BB6A;
  color: white;
  height: 30px;
  margin-top: 10px;
  align-self: end;
}

.btnSendClsCm:hover {
  cursor: pointer;
}

.lblBoldClsCm {
  font-weight: bold;
}

.mainFormsClsCm {
  display: none;
}

.mainFormsClsCm.active {
  display: flex;
  flex-direction: column;
}

.caseClsCm {
  display: none;
  height: 100%;
}

.caseClsCm.active {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
}


/* #backObsFormCm{
  display: flex;
  flex-direction: row;
} */

/* #imgAddedObsCm{
  width: 70%;
  text-align: center;
  border: 1px solid #D2D2D2;
  border-radius: 5px;
  align-self: center;
} */

#btnAddImgObsCm {
  border: none;
  background-color: inherit;
}

#btnAddImgObsCm:hover {
  cursor: pointer;
}

/* #ctnTextAreaCm{
  margin-bottom: 10px;
} */

/* #ctnBtnAddImgObsCm{
  align-self: center;
} */


/* #imageUploadGraphGhId {
  margin: 25%;
  cursor: pointer;
  content: url('../images/icon.png');
} */


/* ::::::::::::::::::::::::: */
/*   Styles Obsform cases    */
/* ::::::::::::::::::::::::: */

.obsCtnClsCm {
  width: 100%;
  height: 100%;
}


.ctnObsFormClsCm {
  padding: 15px 12px 12px 12px;
}

textarea {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #D2D2D2;
  border-radius: 4px;
  background-color: white;
  /* font-size: 16px; */
  resize: none;
}

.ctnUploadImgClsCm {
  margin-top: 10px;
  font-size: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.imgUploadClsCm {
  position: relative;
  color: #0090F8;
  width: 38%;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #C3C3C3;
}

input[type='file'] {
  height: 200px;
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.thumbnailClsCm {
  width: 60%;
  text-align: center;
  border: 1px solid #D2D2D2;
  border-radius: 10px;
  color: #D2D2D2;
}

.ctnButtonSendDataObsClsCm {
  display: flex;
  height: 100%;
  padding: 15px 12px 12px 12px;
}

#sendDataObsGrCm {
  align-self: end;
  cursor: pointer;
}



.coordsCtnClsCm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.coordsClsCm {
  width: 48%;
}

.ctnTablesClsCm {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* #CtnlinesDvCm{
  margin-top: 10px;
  margin-bottom: 10px;
} */

.tableClsCm {
  border-collapse: collapse;
  width: 100%;
}

/* #tbLinesDvCm {
  border-collapse: collapse;
  width: 100%; 
} */

.tableClsCm td,
.tableClsCm th {
  border-bottom: 1px solid #ddd;
  padding: 5px;
}

.tableClsCm th {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #0090F8;
  color: white;
  position: sticky;
  top: 0;
}

.tableClsCm tr:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

.center-aligned {
  text-align: center;
}

.locationLabelLoteDvCls {
  cursor: pointer;
}


.detailResultCtnCls {
  padding: 15px 12px 12px 12px;
  display: flex;
  flex-direction: column;
}

.lblResultCtnCls {
  margin-top: 20px;
}

#titleCaseResult {
  width: 100%;
}

.zoomPredioResultClsCm {
  cursor: pointer;
}

.columnDateClsCm,
.columnCaseClsCm {
  cursor: pointer;
}

.activeButton {
  color: #0090F8;
  border-color: #0090F8;
}

.pointLotSelectionCm {
  width: 100px;
}